<ion-content>
  <br>
  <p>
    
    <ion-icon  name="chevron-back-outline" style="font-size: 20px; margin-left: 10px;" (click)='backpage()'></ion-icon>
    <img src="assets/Clina Logo.png" style="width: 65px;height: 65px; margin-left: 70%;">
  </p>
<ion-row>
<ion-col size="6">
<ion-card (click)="nextpage1()">
  <img src="assets/Extruder.jpeg">
  <ion-card-header>
    <ion-card-subtitle>Maschine 1:  </ion-card-subtitle>
    <ion-card-title class="M">Extruderkatalog</ion-card-title>
  </ion-card-header>
</ion-card>
</ion-col>
<ion-col size="6">
  <ion-card (click)="nextpage2()">
    <img src="assets/Hauptmaschine.jpeg">
    <ion-card-header>
      <ion-card-subtitle>Maschine 2:  </ion-card-subtitle>
      <ion-card-title class="M" >Hauptmaschinen</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-col>
</ion-row>
<ion-row>
  <ion-col size="6">
    <ion-card (click)="nextpage3()">
    <img src="assets/Bohrmaschine.jpeg">
    <ion-card-header>
      <ion-card-subtitle>Maschine 3:  </ion-card-subtitle>
      <ion-card-title class="M" >Bohrmaschine</ion-card-title>
    </ion-card-header>
  </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card (click)="nextpage4()">
    <img src="assets/Schlitzmaschine.jpeg">
    <ion-card-header>
      <ion-card-subtitle>Maschine 4:  </ion-card-subtitle>
      <ion-card-title class="M" >Schlitzmaschine</ion-card-title>
    </ion-card-header>
  </ion-card>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="6">
    <ion-card (click)="nextpage5()">
    <img src="assets/Druckpufung.jpeg">
    <ion-card-header>
      <ion-card-subtitle>Maschine 5:  </ion-card-subtitle>
      <ion-card-title class="M" >Druckpüfung</ion-card-title>
    </ion-card-header>
  </ion-card>
  </ion-col>
</ion-row>
</ion-content>
