<ion-content >
  
    <p class="pos2">
      <ion-button  class="Button2"(click)="logMeout()" color="red">Abmelden</ion-button>
    </p>

  
  <p class="pos" >
   
    <img src="assets/Clina Logo.png"> </p>
  <div class="body">
  <p class="pos">
    <ion-button  class="Button" (click)="nextPage()" color="#DC58BF">
      <span class="size" style="text-transform: none !important;"  >  
        <ion-icon style="font-size: 40px;" name="construct-outline">
        </ion-icon><br><br>Bitte Maschinentyp wählen
    </span><br>
       </ion-button>
  </p>
</div>
</ion-content>
